{{!< default}}

<main class="min-h-screen bg-background">
  <div class="container mx-auto px-4 py-8">
    {{!-- Tag Cards Section --}}
    {{> "home/tags"}}
    
    {{!-- Main Content: Featured/Latest + Sidebar --}}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-12">
      {{!-- Left Column: Featured & Latest --}}
      <div class="lg:col-span-2 space-y-12">
        {{> "home/featured"}}
        {{> "home/latest"}}
      </div>
      
      {{!-- Right Column: Sidebar --}}
      <div class="lg:col-span-1">
        {{> "components/sidebar" 
            showProfile=true 
            showPopularTags=true 
            showSubscribe=true
        }}
      </div>
    </div>
  </div>
</main>